svg.line-chart {
  background: #fff;

  .axis path {
    stroke: rgb(215, 221, 229);
  }

  .tick line {
    stroke: rgb(215, 221, 229);
  }

  .axis--y {
    .domain {
      display: none;
    }

    .tick:first-of-type {
      line {
        display: none;
      }
    }
  }

  .axis--x {
    .tick {
      line {
        visibility: hidden;
      }
    }
  }

  path.line {
    fill: none;
    stroke: rgb(1, 184, 170);
    stroke-width: 2px;
  }

  text {
    fill: rgb(119, 119, 119);
  }

  rect.focus-overlay {
    fill: none;
    pointer-events: all;
  }

  .focus-layer {
    circle {
      fill: rgb(1, 184, 170);
    }

    .hover-line {
      stroke: #666;
    }
  }
}

.tooltip {
  position: absolute;
  z-index: 10;
  background: #333;
  padding: 10px;
  pointer-events: none;
  transform: translate(25px, -20px);
  color: #fff;

  &.right-orientation {
    transform: translate(calc(-100% - 25px), -20px);

    &:before {
      border-right-color: transparent;
      border-left: 10px solid #333;
      left: auto;
      right: -19px;
    }
  }

  &:before {
    position: absolute;
    left: -19px;
    top: 10px;
    content: '';
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #333;
  }
}
