svg.line-chart-container {
  background: #ccc;
  
  .axis--y {
    .domain {
      display: none;
    }
    .tick:first-of-type {
      display: none;
    }
  }

  path.line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  rect.focus-overlay {
    fill: none;
    pointer-events: all;
  }

  .hover-line {
    stroke: #000;
  }
}

.tooltip {
  position: absolute;
  z-index: 10;
  background: #aaa;
  padding: 10px;
  pointer-events: none;
  transform: translate(20px, -50%);

  &.right-orientation {
    transform: translate(calc(-100% - 20px), -50%);
  }
}
